{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "rules": {
    "no-undef": "error",
    "no-unused-vars": "error",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ],
    "quotes": [
      "error",
      "double"
    ]
  }
}