{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "tsconfig.json",
    "sourceType": "module",
    "extraFileExtensions": [
      ".vue",
      ".d.ts"
    ]
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "@vue/typescript/recommended",
    "standard-with-typescript"
  ],
  "rules": {
    "no-undef": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": [
      "error",
      "always-multiline"
    ],
    "semi": "off",
    "@typescript-eslint/semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ],
    "quotes": "off",
    "@typescript-eslint/quotes": [
      "error",
      "double"
    ],
    "@typescript-eslint/brace-style": [
      "error",
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "@typescript-eslint/promise-function-async": "off"
  }
}